* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑";
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    zoom: 1
}

.header_index {
    width: 100%;
    height: 40px;
    background: #F4F4F4;
    line-height: 40px;
}

.header_logo {
    float: left;
    margin-left: 10%;
}

.header_content {
    float: right;
    margin-right: 10%;
}

.header_content span:nth-of-type(2) a, .header_content ul li a {
    color: gray;
}

.header_content ul li {
    float: left;
    list-style: none;
    margin-left: 15px;
}

.header_content span, .header_content ul {
    float: left
}

.top_left {
    float: left;
    width: 20%;
    height: 500px;

    text-align: center;
}

.top_left_title {
    color: #b2dba1;
}

.top_content {
    float: left;
    margin-left: 1%;
    width: 78%;
    height: 500px;

}

.top_content .carousel-inner img {
    width: 100%;
    height: 500px
}