/*样式重置*/
*{
    margin: 0;
    padding: 0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover {
    color: #e51a45;
    text-decoration: none;
}
ul{
    list-style: none;
}

#myfoot {
    border: 1px solid #efefef;
    margin-bottom: 15px;
}
#myfoot h3 {
    background-color: #fa5883;
    height: 33px;
    position: relative;
    padding-left: 11px;
    line-height: 30px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    line-height: 33px;
}
#myfoot h3 a{
    color: #fff;
}
#myfoot dt{
    background-color: #fafafa;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    font-family: "Microsoft YaHei";
    color: #333;
    font-weight: 700;
}
#myfoot dd a {
    height: 32px;
    line-height: 32px;
    padding-left: 33px;
    display: block;
}
#myfoot dd a.on, #myfoot dd a:hover {
    border-left: 2px solid #f81c5a;
    background: #fafafa ;
    height: 32px;
    margin-left: -1px;
    position: relative;
    padding-left: 32px;
    text-decoration: none;
}
#myfoot dd a span {
    padding-left: 10px;
    color: #333;
}

.breadcrumb {
    border: 1px solid #efefef;
    height: 38px;
    overflow: hidden;
    background-color: #fdfdfd;
    padding: 0 15px;
    line-height: 38px;
    color: #999;
    margin-bottom: 15px;
}
.breadcrumb a {
    color: #2f97b4;
    padding-right: 5px;
}
.breadcrumb span {
    padding-right: 5px;
}

/*默认显示*/

/*用户栏*/
.userInfo_box {
    background: url(//dui.damai.cn/damai_v2/passport/images/userbg1.png) repeat-x #fff;
    padding: 20px 20px 10px;
    border: 1px solid #efefef;
    margin-bottom: 15px;
    position: relative;
    height: 200px;
}
.userInfo_box .infos {
    width: 415px;
    float: left;
}
.userInfo_box .infos .infos-lf {
    float: left;
    width: 126px;
    margin-right: 18px;
    text-align: center;
}
.userInfo_box .infos .img {
    width: 126px;
    position: relative;
}
.userInfo_box .infos .img img {
    width: 120px;
    height: 120px;
    padding: 2px;
    border: 1px solid #efefef;
}
.userInfo_box .infos .img a {
    position: absolute;
    bottom: 3px;
    left: 3px;
    display: block;
    width: 120px;
    height: 28px;
    line-height: 28px;
    background: #fff;
    filter: Alpha(opacity=50);
    opacity: .5;
    color: #000;
}
.userInfo_box .infos .infos-lf a {
    line-height: 25px;
}
.c1, a.c1 {
    color: #333;
}
.userInfo_box .infos .infos-ri {
    line-height: 25px;
    float: left;
}
.userInfo_box .infos .username {
    color: #999;
    font-weight: 700;
}
.c4, a.c4 {
    color: #e51a45;
}
.userInfo_box .infos .infos-ri label {
    font-family: '微软雅黑';
    font-size: 12px;
    font-weight: 500;
}
.mr10 {
    margin-right: 10px;
    font-size: 12px;
}
.userInfo_box .user-state {
    width: 333px;
    float: right;
}
.userInfo_box .last-time {
    color: #999;
    text-align: right;
}
.credit-card {
    text-align: right;
    line-height: 25px;
    padding-top: 5px;
}
.credit-card .col1 {
    color: #2f97b4;
    background: url(//dui.damai.cn/damai_v2/passport/images/i4.png) no-repeat scroll 0 -617px;
    padding-left: 20px;
}
.userInfo_box .user-msg {
    border: 1px solid #f4e4b4;
    background: #ffffe9;
    line-height: 33px;
    padding: 0 10px;
    _padding: 9px 10px;
    color: #666;
    width: 585px;
    position: absolute;
    right: 18px;
    bottom: 10px;
}
.userInfo_box .user-msg a.c2 {
    color: #666;
    font-size: 12px;
}
span.i1 {
    background: url(//dui.damai.cn/damai_v2/passport/images/i.png) no-repeat scroll 0 -38px;
    width: 1px;
    height: 13px;
    overflow: hidden;
    display: inline-block;
    margin: 0 5px;
}

/*近期订单栏*/
.section, .section02 {
    border: 1px solid #efefef;
    margin-bottom: 15px;
}
.section .hd, .section02 .hd {
    background: url(//dui.damai.cn/damai_v2/passport/images/hd.png) no-repeat scroll 0 bottom;
    height: 30px;
    padding: 8px 10px 0 15px;
}
.section .hd h2, .section02 .hd h2 {
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: #333;
    padding-right: 10px;
}
.section .hd .subtit, .section02 .hd .subtit {
    color: #999;
    float: left;
    padding-top: 5px;
}
.section .hd a, .section02 .hd a {
    color: #2f97b4;
}
.c7, a.c7 {
    color: #2f97b4;
}
.fr {
    float: right;
}
.index-table01 .table03 {
    margin-top: 0;
}
.table03 {
    border: 1px solid #eef1f3;
    text-align: center;
    color: #666;
    margin-top: 15px;
    width: 100%;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.index-table01 .table03 .w6 {
    width: 110px;
    border-right: none;
}
.index-table01 .table03 .w13 {
    width: 65px;
    border-right: none;
}
.index-table01 .table03 .w7 {
    width: 85px;
    border-right: none;
}
.index-table01 .table03 .w4 {
    width: 100px;
    border-right: none;
}
.index-table01 .table03 th {
    border: none;
    text-align: center;
}
.table03 th {
    padding: 0 16px;
}
.table01 th, .table03 th {
    height: 31px;
    line-height: 30px;
    font-weight: 400;
    background: url(//dui.damai.cn/damai_v2/passport/images/th.png) repeat-x;
    padding: 0 8px;
}


/*个人信息info页面*/
.tab-myfoot {
    margin-top: 23px;
}
.tab-myfoot .title {
    border-bottom: 2px solid #f81c5a;
    height: 31px;
}
.tab-myfoot .title li {
    float: left;
    width: 104px;
    height: 29px;
    overflow: hidden;
    margin-left: 5px;
    _display: inline;
}
.tab-myfoot .title li a.on, .tab-mydamai .title li a.on:hover {
    background-position: -139px -93px;
    color: #fff;
    font-weight: 700;
}
.tab-myfoot .title li a {
    background: url(//dui.damai.cn/damai_v2/passport/images/b.png) no-repeat scroll -139px -122px;
    display: block;
    line-height: 29px;
    text-align: center;
    color: #333;
    font-size: 12px;
    padding: 0 2px;
}
.box01 {
    border: 1px solid #eef1f3;
}
.per-edit-list {
    padding: 25px 40px;
    color: #666;
}
.per-edit-list .per-edit-msg {
    background: #fffdee;
    border: 1px solid #edd28b;
    padding: 10px 20px;
    color: #999;
    margin-bottom: 15px;
}
.per-edit-list dl {
    margin: 0 0 20px;
    clear: both;
    height: 22px;
}
.per-edit-list dt {
    width: 71px;
    float: left;
    padding-right: 5px;
    text-align: right;
    font-size: 12px;
}
.per-edit-list dt span.c4 {
    padding-right: 5px;
}
.per-edit-list dd {
    float: left;
}
.per-edit-list dd .input-text-2 {
    width: 120px;
    height: 22px;
    line-height: 14px;
    border: 1px solid #efefef;
    border-top: 1px solid #d5d5d5;
}
.per-edit-list dd .input-text-3 {
    width: 300px;
    height: 22px;
    line-height: 14px;
    border: 1px solid #efefef;
    border-top: 1px solid #d5d5d5;
}
.per-edit-list button {
    border: none;
    margin: 0 0 0 150px;
}
.btn05 {
    background: url(//localhost:8000/images/system/b.png) no-repeat;
    background-position: -243px -93px;
    width: 94px;
    height: 32px;
    cursor: pointer;
    color: #fff;
}

/*景区展示页面*/
.no-scenic{
    padding: 20px;
    text-align: center;
    font-size: 18px;
}
.media{
    border: 1px solid #efefef;
    padding: 10px;
}
.media:hover{
    background-color: #F8F8F8;
}
.media:hover .imgTitle{
    color: #fff;
    opacity: .8;
    filter: alpha(opacity=80);
    font-weight: bolder;
    font-size: 26px;
}
.media:hover .des_span{
    border-color: #ff9d00;
    background-color: #fff;
    color: #ff9d00;
}
.scenic-title:hover{
    color: #000000;
}
.media:hover .media-heading .scenic-title{
    color: #ff9d00;
}
.media:hover .scenic-content{
    color: #ff9d00;
    text-decoration: underline;
    cursor: pointer;
}
.imgBox{
    position: relative;
}
.imgTitle{
    position: absolute;
    width: 440px;
    height: 35px;
    bottom: 10px;
    background-color: #000000;
    opacity: .2;
    filter: alpha(opacity=20);
    font-size: 24px;
    color: #ccc;
    text-align: center;
    line-height: 35px;
}
.media-body{
    position: relative;
}
.media-heading{
    font-size: 22px;
    text-align: center;
}
.scenic-title{
    color: #000000;
}
.scenic-content{
    font-size: 15px;
    text-indent:20px;
    width: 100%;
    height: 130px;
}
.des_div{
    margin-top: 15px;
}
.des_span{
    display: inline-block;
    padding: 0 14px;
    margin-right: 5px;
    line-height: 20px;
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
    border-radius: 11px;
    font-size: 12px;
}

.handle{
    position: absolute;
    bottom: 0;
}
.edit-btn{
    text-align: right;
}
.btn-3{
    margin-left: 20px;
}


/*绑定手机*/
.popup-address {
    padding: 30px 0 0 85px;
}
.popup-address li {
    padding-bottom: 20px;
    line-height: 20px;
    color: #666;
    overflow: hidden;
    zoom: 1;
}
.popup-address li .caption01 {
    width: 100px;
    float: left;
    text-align: right;
}
.popup-address li .info {
    float: left;
    position: relative;
}
.binding{
    margin-left: 100px;
}



